<h1>About</h1>
<p><b>Version: 1.0.0</b></p>
<p>Stroy9ja is an app developed for you to share your life experience for others to learn from. You can either make your story public for others to see or private, as a personal diary..</p>