<h1>Welcome to Story9ja</h1>
<p><b>This is story9ja 1.0.0</b></p>
<p>Post stories about your life experience and choose if you want them to go private, as a personal diary or public for other to see...</p>

{{#if user}}
  
{{else}}
  <a href="/auth/google" class="btn red darken-1"> <i class="fa fa-google left" aria-hidden="true"></i>
 Login With Google</a>
{{/if}}
